openai==0.27
moviepy
azure-cognitiveservices-speech 
python-dotenv
langchain
azure-search-documents==11.4.0b9
azure.identity
tiktoken
streamlit
pydub
SpeechRecognition
faiss-cpu
gradio
azure-cosmos
msal_streamlit_authentication

azure-mgmt-cognitiveservices 
azure-mgmt-videoanalyzer

