openai==0.27
python-dotenv
langchain
azure-search-documents==11.4.0b9
azure.identity
tiktoken
streamlit
ipykernel
opencv-python
seaborn
plotly
umap-learn
nbformat
moviepy
msal_streamlit_authentication